@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
.heading{
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}
.photos{
    display: grid; 
   grid-template-rows: 1fr 1fr 1fr 1fr;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
   gap: 0px;
   height: 600px;
   overflow: hidden;
}
.singlePhoto{
    border: 2px solid rgb(245, 183, 13);
    position: relative;
    transition: .5s;
    overflow: hidden;
}
.singlePhoto:nth-child(1){
   grid-row-start: 1;
   grid-column-start: 1;
    height: 300px;
   grid-row-end: 3;
   grid-column-end: 3;
}
.singlePhoto:nth-child(2){
    background-color: #9579DF; 
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 5;
    grid-column-end: 3;
}
.singlePhoto:nth-child(3){
    background-color: #EF77A8; 
   grid-row-start: 1;
   grid-column-start: 3;

   grid-row-end: 5;
   grid-column-end: 5;
}
.singlePhoto:nth-child(4){
    background-color: #cbd75d; 
   grid-row-start: 1;
   grid-column-start: 5;
    height: 300px;
   grid-row-end: 2;
   grid-column-end: 7;
}
.singlePhoto:nth-child(5){
    background-color: #AA7597; 
   grid-row-start: 2;
   grid-column-start: 5;

   grid-row-end: 5;
   grid-column-end: 7;
}
.galleryImg{
    width: 100%;
    height: 100%;
}
.galleryImg img{
    width: 100%;
    height: 100%;
}
.photoLink{
    position: absolute;
    background: rgba(0, 0, 0, 0.63);
    color: white;
    transition: .5s;
    width: 100%;
    height: 100%;
    transform: scaleY(0);
    top: 0;
}
.linkphoto{
    display: flex;
    justify-content: center;
}
.singlePhoto:hover .photoLink{
    transition: .5s;
    transform: scaleY(1);
}