@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
.freelancer{
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 84px;
}
.heading{
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}
.frelancerSingle{
    height: 400px;
    position: relative;
    overflow: hidden;
}
.frelancerimg{
    width: 100%;
    height: 100%;
    
    overflow: hidden;
}
.frelancerimg img{
    transition: 1s;
}
.frelancerdesc{
    position: absolute;
    bottom: -100%;
    background-color: white;
    width: 100%;
    padding: 18px 0px;
    transition: .5s;
    
}

.frelancerSingle:hover .frelancerdesc{
    bottom: 0;
    transition: .5s;
}
.frelancerSingle:hover .frelancerimg img{
    transform: rotate(3deg)scale(1.1);
    transition: 2s;
}