.maneaBox{
    background: url('https://i.ibb.co/8Y3py84/pexels-garrett-morrow-736414.jpg');
    background-size: 100% 100%;
    height: 100vh;
    width: 100%;
    background-attachment: fixed;
    position: relative;
}
